
 .formData{
    display: flex;
    flex-direction: column;
    margin:50px;
} 
.formData .inputDet{
    padding:10px;
}

.inputDet label{
    padding-right: 10px;
}

table th , td{
    border: 1px solid gray;
    margin: 0;
    padding: 5px 10px;
    width: 100px;
    
}

